<mat-grid-list cols="3" rowHeight="1400px">
  <mat-grid-tile>
    <button [routerLink]="['/films-list']"
            mat-stroked-button
    >
      Назад
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Название на русском: {{film.title}}</mat-card-title>
        <mat-card-title>Оригинальное название: {{film.original_title}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-subtitle><b>Дата релиза: {{film.release_date}}</b></mat-card-subtitle>
        <mat-card-subtitle><b>Рейтинг: {{film.vote_average}}</b></mat-card-subtitle>
        <mat-card-subtitle><b>Жанр: {{film.genres[0].name}}</b></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{midImgURL}}{{film.poster_path}}" alt="{{film.title}}">
      <a mat-stroked-button href="{{film.homepage}}" target="_blank">Перейти на домашнюю страницу фильма</a>
      <p></p>
      <mat-card-content>
        <p>
          {{film.overview}}
        </p>
      </mat-card-content>
    </mat-card>

    </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
</mat-grid-list>
<h2>Смотреть трейлеры</h2>

<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile>
    <!--    <iframe id="player1" type="text/html" width="640" height="360"-->
    <!--            src="http://www.youtube.com/embed/sXoSILzgFug?enablejsapi=1"-->
    <!--            frameborder="2"></iframe>-->

    <a href="http://www.youtube.com/embed/{{video[0]}}">http://www.youtube.com/embed/{{video[0]}}</a>

  </mat-grid-tile>

  <mat-grid-tile>
    <a href="http://www.youtube.com/embed/{{video[1]}}">http://www.youtube.com/embed/{{video[1]}}</a>
  </mat-grid-tile>

  <mat-grid-tile>
    <a href="http://www.youtube.com/embed/{{video[2]}}">http://www.youtube.com/embed/{{video[2]}}</a>
  </mat-grid-tile>
</mat-grid-list>
